.image-text-container {
  margin-top: 5.5rem;
  position: relative;
  width: 100%;
  display: block;
}

.background-image {
  display: block;
  width: 100%;

  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -50%);
  text-align: center;
  color: #262626;
  font-family: "Montserrat", sans-serif;
}

.overlay-text h3 {
  font-size: 2rem;
  font-weight: 600;
}

.overlay-text p {
  font-size: 1.2rem;
  margin: 0.6rem 0 0;
}

.overlay-text button {
  font-size: 1.5rem;
  margin-top: 1rem;
  background-color: #ff6200;
  border: 2px solid #ff6200;
  padding: 0.75rem;
  border-radius: 8px;
  transition: transform;
  cursor: pointer;
  color: #fff;
}

.overlay-text button:hover {
  transform: scale(1.1);
}

.beneficios_text h2 {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.3rem;
}

.beneficios_lista {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.beneficios_lista li {
  max-width: 230px;
  border: 1px solid #797878;
  border-radius: 8px;
  color: #262626;
  background-color: #fff;
  padding: 2rem;
  margin: 0 2rem;
}

.beneficios_lista h1 {
  color: black;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.serviços_text h2 {
  padding-top: 3rem;
  text-align: center;
  font-size: 1.3rem;
}

.serviços_lista {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
}

.serviços_lista li {
  border-radius: 8px;
  border: 2px solid #797878;
  max-width: fit-content;
}

.lista_padrao img {
  display: block;
  width: 100%;
  max-width: 21rem;
  height: 14rem;
  border-top: 8px;
  object-fit: cover;
}

.lista_padrao h1 {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 600;
}

.lista_padrao p {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 1rem;
  color: black;
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
}

.lista_figura p {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
  margin-top: 1rem;
}

.lista_figura2 {
  display: flex;
}
