.topbar {
  display: flex;
  position: fixed;
  top: 0;
  gap: 1rem;
  padding: 1.1rem;
  width: 100%;
  justify-content: center;
  background-color: #ff6200;
  align-items: center;
  z-index: 10;
}

@media (max-width: 1024px) {
  .topbar {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .hover-effect.para-voce,
  .hover-effect.empresas,
  .hover-effect.ajuda,
  .hover-effect.busca {
    display: none;
  }
}

header {
  width: 100%;
}

@media (max-width: 425px) {
  .img {
    width: 2.5rem;
  }

  .AgenciaConta {
    width: 8rem;
    gap: 0.3rem;
  }

  .AgenciaConta input {
    font-size: 0.7rem;
    width: 3rem;
    height: 1.8rem;
  }

  .AgenciaConta p {
    font-size: 0.6rem;
    margin-top: 0.3rem;
  }

  .topbar button {
    height: 1.8rem;
    border-radius: 6px;
  }

  .topbar li {
    font-size: 0.9rem;
  }

  .AbraConta {
    display: none;
  }
}

@media (max-width: 375px) {
  .topbar {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .img {
    width: 2rem;
  }

  .AgenciaConta {
    width: 7rem;
    gap: 0.2rem;
  }

  .AgenciaConta input {
    font-size: 0.6rem;
    width: 2.5rem;
    height: 1.5rem;
  }

  .AgenciaConta p {
    font-size: 0.5rem;
    margin-top: 0.2rem;
  }

  .topbar button {
    height: 1.5rem;
    border-radius: 5px;
  }

  .topbar li {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .topbar {
    padding: 0.4rem;
    gap: 0.4rem;
  }

  .img {
    width: 1.8rem;
  }

  .AgenciaConta {
    width: 6rem;
    gap: 0.2rem;
  }

  .AgenciaConta input {
    font-size: 0.5rem;
    width: 2rem;
    height: 1.3rem;
  }

  .AgenciaConta p {
    font-size: 0.4rem;
    margin-top: 0.1rem;
  }

  .topbar button {
    height: 1.7rem;
    border-radius: 4px;
    margin-right: 1rem;
  }

  .topbar li {
    font-size: 0.7rem;
  }
}
